.movieListContainer{
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
    width: 100%;
    overflow: hidden;
  }
  .MovieList::-webkit-scrollbar {
    display: none;
  }
.MovieList{
    display: flex;
  overflow-x: auto;
  align-items: center;
}
.seriesListContainer{
  display: flex;
  flex-direction: column;
  margin: 20px 30px;
  padding: 20px 30px;
  width: 100%;
  overflow: hidden;
}
.seriesList::-webkit-scrollbar {
  display: none;
}
.seriesList{
  display: flex;
overflow-x: auto;
align-items: center;
}